* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #403d39 !important;
  padding-bottom: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.background {
  position: static;
  height: 100% !important;
  padding-top: 1.5rem;
}

.site {
  position: relative;
  bottom: 1.5rem;
  margin: 1.5rem;
  background-color: #252422;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 0.1fr 5fr auto;
  min-height: 100vh;
  border-radius: 20px;
}

.grid-cell-content-layout {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.grid-cell-nav,
/* .grid-cell-footer, */
.grid-cell-content-layout {
  position: relative;
}

.grid-cell-nav::before,
.grid-cell-footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid #403d39;
  border-left: 1px solid #403d39;
  pointer-events: none;
}

.grid-cell-content-layout::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #403d39;
  border-bottom: 1px solid #403d39;
  pointer-events: none;
}

/* nav */

.header {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.nav-link {
  color: #fffcf2 !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
  font-size: 0.8rem;
  border-bottom: none !important;
}

.nav-underline,
.nav-link.active {
  color: #fffcf2 !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
  font-size: 0.9rem;
  border-bottom: none !important;
}

.nav-link.active::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 5px;
  width: 5px;
  background: #fffcf2;
  border-radius: 50%;
}

/* footer */
.footer {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
}

.footer-text {
  color: #fffcf2 !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
  font-size: 0.9rem;
  padding-top: 1rem;
}

footer *,
footer *:before,
footer *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* children */

.content {
  grid-column-start: 1;
  grid-column-end: 6;
  margin: 1.5rem 0;
  border-top: 1px solid #403d39;
  border-bottom: 1px solid #403d39;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  justify-items: center;
}

.contentContainerMain {
  margin: 2rem 0;
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.contentContainer {
  margin-bottom: 4rem;
  grid-column-start: 2;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  color: #fffcf2 !important;
  font-family: "Advent Pro", sans-serif;
  font-weight: 400 !important;
  font-size: 5rem;
  margin: 0;
}

.aboutMeContainer {
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  place-items: center;
  margin: 2rem 0;
}

.aboutMe {
  grid-column-start: 1;
  grid-column-end: 2;
  color: #fffcf2 !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
  font-size: 1.3rem;
  text-align: center;
  margin: 0 6rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.myImage {
  width: 200px;
  height: 200px;
  border: 1px solid #403d39;
  margin: 2rem 0;
  outline: 1px solid #403d39;
  outline-offset: 3px;
}

.contentContainer2 {
  grid-column-start: 1;
  grid-column-end: 6;
  border-top: 1px solid #403d39;
  border-bottom: 1px solid #403d39;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.subtitle {
  grid-column-start: 2;
  grid-column-end: 5;
  margin: 0.5rem 0;
  color: #fffcf2 !important;
  font-family: "Advent Pro", sans-serif;
  font-weight: 400 !important;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .subtitle {
    grid-column: 1 / -1;
    text-align: left;
    margin: 0 1rem;
  }
}

.projectContainer {
  border-top: 1px solid #403d39;
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.projectTextContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-left: 1px solid #403d39;
  border-right: 1px solid #403d39;
}

.projectTitle {
  color: #fffcf2 !important;
  font-family: "Advent Pro", sans-serif;
  font-weight: 400 !important;
  font-size: 2rem;
  margin: 1rem 0;
}

.project {
  grid-column-start: 2;
  grid-column-end: 3;
  color: #fffcf2 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.projectDescription {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

.projectImgContainer {
  grid-column-start: 3;
  grid-column-end: 5;
  border-right: 1px solid #403d39;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  .projectContainer {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .projectImgContainer {
    grid-column: 1 / -1;
    padding-bottom: 1rem;
    border-left: 1px solid #403d39;
  }

  .projectTextContainer {
    grid-column: 1 / -1;
  }
}

.projectImg {
  grid-column-start: 3;
  grid-column-end: 5;
  width: 96%;
  height: auto;
  border: 1px solid #403d39;
  outline: 1px solid #403d39;
  outline-offset: 3px;
}

.icons {
  font-size: 1.8rem;
  margin: 1rem;
  color: #fffcf2;
}

a.icons {
  position: relative;
  text-decoration: none;
  color: #fffcf2;
  display: inline-block;
}

.icon-container,
.word-container {
  position: relative;
  display: inline-block;
}

.icon-container::after,
.word-container::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background: #fffcf2;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
}

.icon-container:hover::after {
  width: 5px;
  height: 5px;
  left: calc(50% - 2.5px);
  bottom: 5px;
}

.word-container:hover::after {
  width: 5px;
  height: 5px;
  left: calc(50% - 2.5px);
  bottom: -5px;
}

a.icons::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #fffcf2;
  transition: width 0.3s;
  bottom: 0;
  left: 50%;
}

a.icons:hover::after {
  width: 100%;
  left: 0;
}

/* skills */

.skillsContainer,
.contactContainer {
  border-top: 1px solid #403d39;
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.skills,
.contacts {
  color: #fffcf2 !important;
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.skillsColumn1,
.contactColumn1 {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #403d39;
  border-left: 1px solid #403d39;
  height: 100%;
}

.skillsColumn2,
.contactColumn2 {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #403d39;
}

.skillsColumn3,
.contactColumn3 {
  grid-column-start: 4;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #403d39;
}

a .word {
  color: #fffcf2;
}

@media (max-width: 768px) {
  .skillsContainer,
  .contactContainer {
    grid-template-columns: 1fr;
  }

  .skillsColumn1,
  .skillsColumn2,
  .skillsColumn3,
  .contactColumn1,
  .contactColumn2,
  .contactColumn3 {
    grid-column: 1 / -1;
    padding: 0 1rem;
    border-left: none;
    border-right: none;
  }

  .skills,
  .contacts {
    border-left: 1px solid #403d39;
    border-right: 1px solid #403d39;
  }
}

/*modal*/

.modal {
  --bs-modal-bg: #252422;
  --bs-modal-border-color: #403d39;
  --bs-modal-border-width: 10px;
  --bs-modal-border-radius: 0;
  --bs-modal-header-border-color: #403d39;
  --bs-modal-footer-border-color: #403d39;
}

.modal-outer {
  background-color: #403d39;
  padding: 5px;
}

.modal-inner {
  background-color: #252422;
  border-radius: 15px;
  color: #fffcf2;
}

.modal-title {
  color: #fffcf2;
  font-family: "Advent Pro", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.modal-header .btn-close {
  color: #fffcf2 !important;
}

.modal-body {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.btn-secondary {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  --bs-btn-color: #fffcf2;
  --bs-btn-bg: #403d39;
  --bs-btn-border-color: #403d39;
  --bs-btn-hover-color: #fffcf2;
  --bs-btn-hover-bg: #403d39;
  --bs-btn-hover-border-color: #403d39;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fffcf2;
  --bs-btn-active-bg: #403d39;
  --bs-btn-active-border-color: #403d39;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fffcf2;
}

#mail-link {
  text-decoration: none;
  color: #fffcf2;
}
